@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Color+Emoji&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Sulphur+Point:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: black;
    color: white;

}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    transition: 0.3s;


}
li {
    padding: 2px;
}
h3 {
    font-size: 2.5rem;
    font-weight: 600;
}
h4 {
    font-size: .8rem;
    color: #6600ff;
}

/* home section */
header {
    width: 100%;
    padding: 20px 40px;
    margin: 25px auto;

}
.logo {
    position: fixed;
    top: 3rem;
    left: 3rem;
    z-index: 1000;
}
nav {
    display: flex;
    gap: 50px;
    font-size: 1.2rem;
}
.navigation {
    width: 100%;
    display: flex;
    margin: 20px auto 50px;
    justify-content: center;

}

nav li:hover a {
    color: #6600ff;
    font-weight: 500;
    text-decoration: underline;

}

nav li:hover {
    transform: translateY(-5px);

}
.introduction {
    max-width: 1020px;
    margin: 100px 160px 120px;
}
.introduction h1 {

    font-size: 2.5vw;
    line-height: 3.5vw;
    font-weight: 700;

}
.introduction span {
    color: rgb(102, 0, 255);
    word-spacing: 5px;
    font-weight: 800;
}
span {
    color: rgb(102, 0, 255);
}

/* right and left fixed section */
.left-fixed {
    position: fixed;
    left: 3rem;
    bottom: 20px;
    max-width: 100px;
    padding: 10px;
    z-index: 1000;
}
.right-fixed {
    position: fixed;
    right: 3rem;
    top: 0;
    max-width: 100px;
    padding: 20px;
    z-index: 1000;
}
i {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: white;
    transition: .2s;
}
.right-fixed i {
    margin-top: 30px;
}
#cv {
    position: fixed;
    top: 281px;
    right: 75px;
    font-size: .7rem;
    color: #000000;
    background-color: #6600ff;
    border: 2px solid #6600ff;
    font-weight: 800;
    padding: 6px;
    border-radius: 50%;
    transition: .2s;
}
.right-fixed .cv-section:hover #cv {
    color: #000000;
    background-color: #fff;
    font-weight: 800;
    transform: scale(1.2);
    border: 2px solid #ffffff;
    box-shadow: 0 0 4px 2px #6600ff;
}
#vertical {
    writing-mode: vertical-rl;
    margin: 10px 6px 0;
}
.left-fixed i:hover,
.right-fixed i:hover {
    color: #6600ff;
    transform: scale(1.3);
}

/* main content section */
#about,
#skills,
#projects,
#contact {
    max-width: 1020px;
    margin: 100px auto;
}
h2 {
    font-size: 2.5vw;
    font-weight: 600;
    padding-top: 50px;
    margin: 150px auto 60px;
    color: #6600ff;
}

/* about section */
.about-me {
    max-width: 1020px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutme-content {
    width: 50%;
}
.aboutme-content p {
    max-width: 32rem;
    font-size: .9rem;
    line-height: 1.5rem;
    text-align: justify;
}
#aboutme-image {
    width: 50%;
    display: flex;
    justify-content: center;
}
#aboutme-image img {
    max-width: 19rem;
    margin-left: 40px;
    border: 4px transparent;
    border-radius: 20px;
}

/* skill section */
.skill-content {
    width: 60%;
    font-size: .9rem;
    line-height: 1.5rem;
    word-spacing: 3px;
}
.skill-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    margin: 70px 10px 150px;
    row-gap: 35px;
}
.skill-items li {
    list-style: circle;
    color: #6f00ff;
}
#skills>ul .not-yet {
    color: grey;
}

/* project section */
.projects-section {
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 40px;
}
.proj-container {
    max-width: 1020px;
    display: grid;
    padding: 70px 40px;
}
.proj-odd {
    grid-template-columns: 60% auto;
}
.proj-even {
    grid-template-columns: auto 60%;
}
.page-image img {
    width: 100%;
    border-radius: 10px;
}
.page-description {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}
.description-even {
    align-items: flex-start;
    text-align: left;
}
.description-current {
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.description-current h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.page-description p {
    width: 90%;
    font-size: .9rem;
    line-height: 1.5;
    word-spacing: 2;
    margin: 30px 0;
}
.proj-img-current {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgb(75, 75, 75);
}
.proj-links i {
    margin-left: 20px;
}
.proj-links-even i {
    margin-right: 20px;
}

/* contacts section */
#contact {
    position: relative;
    text-align: center;
    margin-bottom: 110px;
}
#contact p {
    max-width: 600px;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    word-spacing: 2px;
}
#contact button {
    font-size: 1.3rem;
    padding: 10px 25px;
    color: #ffffff;
    margin-top: 70px;
    border-radius: 50px;
    font-weight: 600;
    background-color: #000000;
    border: 2px solid #6600ff;
    transition: .1s;
}
#contact button:hover {
    transform: scale(105%);
    box-shadow: 0 0 3px 3px rgb(44, 0, 106);
}
#contact h5 {
    font-size: .9rem;
    margin-top: 40px;
}

/* back to top button */
.home-autoscroll {
    position: sticky;
    text-align: right;
    bottom: 25px;
    margin-right: 79px;
    margin-bottom: -30px;
}
.home-autoscroll i {
    padding: 9px 12px;
    background-color: rgb(13, 13, 13);
    border-radius: 50%;
}

/* footer section */
footer {
    padding: 20px;
    text-align: center;
    color: #6600ff;
    font-size: .8rem;
}
footer a {
    color: aqua;
}